.container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    min-height: calc(100vh - 58px);
    background-color: #000000;
}

.container .contentContainer {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    max-width: 1100px;
    width: 90%;
    z-index: 1;
}

.container .contentContainer .contentFunctionCreateSnippets {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container .contentContainer .contentFunctionCreateSnippets .titleDashboard {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9), rgb(255, 255, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-weight: bold;
    background-clip: text;
    color: transparent;
    margin-bottom: 15px;
    margin-top: 30px;
}

.container .contentContainer .contentFunctionCreateSnippets .btnCreateSnippets {
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 15px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    background-color: #ffffff17;
    color: #ffffffce;
    transition: 0.3s;
    border: 1px solid #6c6c6c46;
}

.container .contentContainer .contentFunctionCreateSnippets .btnCreateSnippets:hover {
    background-color: #fff;
    color: #000000cf;
    transition: 0.5s;
    cursor: pointer;
}

.container .contentContainer .contentStatistics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-bottom: 15px;
}

.container .contentContainer .contentStatistics article {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    width: 260px;
    background-color: #000000fc;
    border: 1px solid #6c6c6c46;
    border-radius: 8px;
}

.container .contentContainer .contentStatistics article h1 {
    margin-bottom: 0;
    font-size: 30px;
    color: #fff;
    margin-right: 10px;
}

.container .contentContainer .contentStatistics article p {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.635);
    font-size: 14px;
    margin-bottom: 4px;
}

.container .contentContainer .contentStatistics article .contentHeaderSnippetsStatistics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container .contentContainer .contentStatistics article .contentHeaderSnippetsStatistics .iconSnippetsStatistics {
    color: #4269e8;
    font-size: 18px;
}

.container .contentContainer .contentFunctionsUser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-bottom: 15px;
}

.container .contentContainer .contentFunctionsUser form {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 820px;
    background-color: #000000fc;
    border: 1px solid #6c6c6c46;
    padding: 5px 10px;
    border-radius: 8px;
}

.container .contentContainer .contentFunctionsUser form input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
    margin-left: 10px;
    font-size: 15px;
}

.container .contentContainer .contentFunctionsUser .btnFilter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 15px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    background-color: #ffffff06;
    color: #ffffffce;
    transition: 0.3s;
    border: 1px solid #6c6c6c46;
}

.container .contentContainer .contentFunctionsUser .btnFilter:hover {
    background-color: #ffffff0c;
}

.container .contentContainer .contentFunctionsUser .btnFilter option {
    color: #000;
}

.container .contentContainer .contentFunctionsUser .btnCreateFolder {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 15px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    background-color: #ffffff06;
    color: #ffffffce;
    transition: 0.3s;
    border: 1px solid #6c6c6c46;
}

.container .contentContainer .contentFunctionsUser .btnCreateFolder:hover {
    cursor: not-allowed;
}

.container .contentContainer .line {
    width: 100%;
    height: 0.5px;
    padding: 0.5px;
    background-color: #6c6c6c23;
    margin-bottom: 15px;
}

.container .contentContainer .contentAllSnippets {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.container .contentContainer .contentAllSnippets .snippetCard {
    display: flex;
    align-items: start;
    padding: 15px;
    justify-content: center;
    flex-direction: column;
    width: 545px;
    margin-bottom: 10px;
    background-color: #000000fc;
    border: 1px solid #6c6c6c65;
    border-radius: 8px;
    transition: 0.2s;
}

.container .contentContainer .contentAllSnippets .snippetCard:hover {
    background-color: #0b0b0b;
    transition: 0.2s;
    cursor: pointer;
}

.container .contentContainer .contentAllSnippets .snippetCard .headerCardSnippet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
}

.container .contentContainer .contentAllSnippets .snippetCard .headerCardSnippet h2 {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9), rgb(255, 255, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16.5px;
    background-clip: text;
    color: transparent;
    margin-bottom: 0px;
}

.container .contentContainer .contentAllSnippets .snippetCard .headerCardSnippet .isPublic {
    margin-bottom: 0px;
    font-size: 12px;
    border-radius: 8px;
    color: #4269e8;
    padding: 3px 8px;
    border-radius: 8px;
    transition: 0.2s;
}

.container .contentContainer .contentAllSnippets .snippetCard .headerCardSnippet .isPublic:hover {
    background-color: #4269e82b;
    transition: 0.2s;
}

.container .contentContainer .contentAllSnippets .snippetCard .headerCardSnippet .isPrivate {
    margin-bottom: 0px;
    font-size: 12px;
    border-radius: 8px;
    color: transparent;
    padding: 3px 8px;
    border-radius: 8px;
    transition: 0.2s;
    user-select: none;
}

.container .contentContainer .contentAllSnippets .snippetCard .headerCardSnippet .isPublic .iconRedirectSnippetPublic {
    opacity: 0;
    transition: 0.2s;
}

.container .contentContainer .contentAllSnippets .snippetCard:hover .isPublic .iconRedirectSnippetPublic {
    opacity: 1;
    transition: 0.2s;
}

.container .contentContainer .contentAllSnippets .snippetCard .codeSnippet {
    background-color: #131313ad;
    border-radius: 8px;
    height: 100px;
    padding: 10px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-x: auto;
    color: #777;
    font-size: 14px;
}

.container .contentContainer .contentAllSnippets .snippetCard .footerCardSnippet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 8px;
}

.container .contentContainer .contentAllSnippets .snippetCard .footerCardSnippet span {
    margin-bottom: 0px;
    font-size: 11px;
    border: 1px solid #c7c7c7ab;
    padding: 3px 10px;
    border-radius: 8px;
    background-color: #c7c7c71f;
    color: #c7c7c7;
}

.container .contentContainer .contentAllSnippets .snippetCard .footerCardSnippet .fuctionSnippets {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.2s;
}

.container .contentContainer .contentAllSnippets .snippetCard:hover .fuctionSnippets {
    opacity: 1;
    transition: 0.2s;
}

.container .contentContainer .contentAllSnippets .snippetCard .footerCardSnippet .fuctionSnippets .btnEdit {
    font-size: 12px;
    padding: 4px 10px;
    border: none;
    border-radius: 8px;
    background-color: #4269e823;
    color: #4269e8;
    transition: 0.2s;
}

.container .contentContainer .contentAllSnippets .snippetCard .footerCardSnippet .fuctionSnippets .btnEdit:hover {
    transition: 0.2s;
    background-color: #4269e853;
}

.container .contentContainer .contentAllSnippets .snippetCard .footerCardSnippet .fuctionSnippets .btnDelete {
    font-size: 12px;
    padding: 4px 10px;
    border: none;
    border-radius: 8px;
    background-color: #cd35353f;
    color: #d13030f4;
    margin-left: 5px;
    transition: 0.2s;
}

.container .contentContainer .contentAllSnippets .snippetCard .footerCardSnippet .fuctionSnippets .btnDelete:hover {
    transition: 0.2s;
    background-color: #cd353565;
}

.container .contentContainer .contentAllSnippets .snippetCard .footerCardSnippet .fuctionSnippets .btnCopy {
    font-size: 12px;
    padding: 4px 10px;
    border: none;
    border-radius: 8px;
    background-color: #c7c7c71f;
    color: #c7c7c7;
    margin-left: 5px;
    transition: 0.2s;
}

.container .contentContainer .contentAllSnippets .snippetCard .footerCardSnippet .fuctionSnippets .btnCopy:hover {
    transition: 0.2s;
    background-color: #c7c7c743;
}

.container .contentContainer .contentAllSnippets .snippetCard .footerCardSnippet .fuctionSnippets .btnDownload {
    font-size: 12px;
    padding: 4px 10px;
    border: none;
    border-radius: 8px;
    background-color: #c7c7c71f;
    color: #c7c7c7;
    margin-left: 5px;
    transition: 0.2s;
}

.container .contentContainer .contentAllSnippets .snippetCard .footerCardSnippet .fuctionSnippets .btnDownload:hover {
    transition: 0.2s;
    background-color: #c7c7c743;
}

.textConfirmLogout {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9), rgb(255, 255, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: bold;
    background-clip: text;
    color: transparent;
    margin-bottom: 15px;
}

.btnConfirmLogout {
    width: 100%;
    background-color: #cd35353f;
    color: #d13030f4;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    padding: 4px;
    font-weight: 600;
    font-size: 14px;
}

.btnConfirmLogout:hover {
    background-color: #cd35357d;
    transition: 0.3s;
}

.lineModal {
    width: 100%;
    margin-bottom: 15px;
    height: 0.5px;
    padding: 0.5px;
    background-color: #6c6c6c3a;
}

.containerModal .dialogModal .contentModal {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    background-color: #000000fc;
    border: 1px solid #6c6c6c46;
    padding: 20px;
}

.containerModal .dialogModal .contentModal .headerModal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.containerModal .dialogModal .contentModal .headerModal h1 {
    margin-bottom: 0px;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9), rgb(255, 255, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-weight: bold;
    background-clip: text;
    color: transparent;
    margin-bottom: 15px;
}

.containerModal .dialogModal .contentModal .headerModal .iconModalHeader {
    margin-bottom: 15px;
    font-size: 28px;
    color: #fff;
    transition: 0.2s;
    border-radius: 8px;
    padding: 2px;
}

.containerModal .dialogModal .contentModal .headerModal .iconModalHeader:hover {
    background-color: #ffffff28;
    transition: 0.2s;
    cursor: pointer;
}

.containerModal .dialogModal .contentModal form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.containerModal .dialogModal .contentModal form input {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #ffffff0f;
    color: #ffffffce;
    transition: 0.3s;
    border: 1px solid #9c9c9c66;
    padding: 6px 12px;
    outline: none;
    font-size: 15px;
}

.containerModal .dialogModal .contentModal form input:focus {
    border: 1px solid #ffffffe4;
}

.containerModal .dialogModal .contentModal form textarea {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #ffffff0f;
    color: #ffffffce;
    transition: 0.3s;
    border: 1px solid #9c9c9c66;
    padding: 6px 12px;
    outline: none;
    font-size: 15px;
}

.containerModal .dialogModal .contentModal form textarea:focus {
    border: 1px solid #ffffffe4;
}

.containerModal .dialogModal .contentModal form .btnFilter {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #ffffff0f;
    color: #ffffffce;
    transition: 0.3s;
    border: 1px solid #9c9c9c66;
    padding: 6px 12px;
    outline: none;
    font-size: 15px;
}

.containerModal .dialogModal .contentModal form .btnFilter option {
    color: #000;
}

.containerModal .dialogModal .contentModal form button {
    background-color: #fff;
    color: #000000cf;
    transition: 0.3s;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0px;
    border-radius: 8px;
    border: 1px solid #ffffff;
    padding: 6px 12px;
    font-weight: 600;
    font-size: 15px;
}

.containerModal .dialogModal .contentModal form button:hover {
    transition: 0.3s;
    background-color: #d3d3d3;
}

.containerModal .dialogModal .contentModal form .contentIfSnippetPublic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.containerModal .dialogModal .contentModal form .contentIfSnippetPublic label {
    color: #c9c9c9;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    align-items: center;
}

.containerModal .dialogModal .contentModal form .contentIfSnippetPublic label span {
    font-size: 15px;
}

@media screen and (max-width: 1200px) {
    .container .contentContainer .contentFunctionCreateSnippets {
        align-items: start;
        flex-direction: column;
    }

    .container .contentContainer .contentFunctionCreateSnippets .btnCreateSnippets {
        margin-top: 0px;
        width: 100%;
    }

    .container .contentContainer .contentStatistics {
        flex-direction: column;
        margin-bottom: 0;
    }

    .container .contentContainer .contentStatistics article {
        margin-bottom: 15px;
        width: 100%;
    }

    .container .contentContainer .contentFunctionsUser {
        flex-direction: column;
        margin-bottom: 0;
    }

    .container .contentContainer .contentFunctionsUser form {
        width: 100%;
        margin-bottom: 15px;
    }

    .container .contentContainer .contentFunctionsUser .btnFilter {
        width: 100%;
        margin-bottom: 15px;
    }

    .container .contentContainer .contentFunctionsUser .btnCreateFolder {
        width: 100%;
        margin-bottom: 15px;
    }

    .container .contentContainer .contentAllSnippets .snippetCard .footerCardSnippet span {
        margin-top: 8px;
    }

    .container .contentContainer .contentAllSnippets .snippetCard {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .container .contentContainer .contentAllSnippets .snippetCard .footerCardSnippet .fuctionSnippets {
        opacity: 1;
        justify-content: space-between;
        width: 100%;
    }

    .container .contentContainer .contentAllSnippets .snippetCard .footerCardSnippet {
        align-items: start;
        justify-content: center;
        flex-direction: column-reverse;
    }
}