.sectionStepsPay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 80vh;
    background-color: #000000;
}

.sectionStepsPay .contentSectionStepsPay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1400px;
    width: 90%;
}

.sectionStepsPay .contentSectionStepsPay h1 {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9), rgb(255, 255, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: bold;
    background-clip: text;
    color: transparent;
    margin-bottom: 50px;
}

.sectionStepsPay .contentSectionStepsPay .contentSectionStepsPay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.sectionStepsPay .contentSectionStepsPay .contentSectionStepsPay .cardStepsPay {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.sectionStepsPay .contentSectionStepsPay .contentSectionStepsPay .cardStepsPay .iconCardStepsPay {
    font-size: 28px;
    margin-bottom: 14px;
    color: #eaeaeae8;
}

.sectionStepsPay .contentSectionStepsPay .contentSectionStepsPay .cardStepsPay h1 {
    margin-bottom: 10px;
    font-size: 20px;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9), rgb(255, 255, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    background-clip: text;
    color: transparent;
}

.sectionStepsPay .contentSectionStepsPay .contentSectionStepsPay .cardStepsPay p {
    color: #d6d6d689;
    margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
    .sectionStepsPay {
        min-height: 100vh;
    }

    .sectionStepsPay .contentSectionStepsPay h1 {
        text-align: center;
        margin-top: 28px;
        font-size: 25px;
    }

    .sectionStepsPay .contentSectionStepsPay .contentSectionStepsPay .cardStepsPay {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }

    .sectionStepsPay .contentSectionStepsPay .contentSectionStepsPay .cardStepsPay .iconCardStepsPay {
        font-size: 25px;
        margin-bottom: 15px;
        color: #eaeaeae8;
    }

    .sectionStepsPay .contentSectionStepsPay .contentSectionStepsPay .cardStepsPay h1 {
        margin-bottom: 15px;
        font-size: 18px;
        margin-top: 0px;
    }

    .sectionStepsPay .contentSectionStepsPay .contentSectionStepsPay .cardStepsPay p {
        color: #d6d6d689;
        font-size: 15px;
    }
}