.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid transparent; 
    border-image: linear-gradient(to right, rgba(211, 211, 211, 0) 0%, rgba(211, 211, 211, 0.18) 50%, rgba(211, 211, 211, 0) 100%);
    border-image-slice: 1;
}

.header .contentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    width: 90%;
}

.header .contentHeader .contentDesignHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header .contentHeader .contentDesignHeader h1 {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9), rgb(255, 255, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: bold;
    background-clip: text;
    color: transparent;
    margin-bottom: 0px;
    margin-right: 10px;
}

.header .contentHeader .contentDesignHeader .iconHeader {
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    padding: 4px;
    border-radius: 10px;
    background: linear-gradient(45deg, #3c83b3, #4269e8);
    -webkit-background-clip: border-box;
    background-clip: border-box;
}

.header .contentHeader nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .contentHeader nav a {
    margin-left: 18px;
    text-decoration: none;
    font-size: 13.5px;
    color: rgba(255, 255, 255, 0.635);
    transition: 0.3s;
}

.header .contentHeader nav a:hover {
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.873)
}

.header .contentHeader nav .btnLogin {
    margin-left: 18px;
    background-color: #fff;
    color: #000000cf;
    transition: 0.3s;
    cursor: pointer;
    width: 80px;
    border-radius: 8px;
    border: 1px solid #ffffff;
    padding: 4px;
    font-weight: 600;
    font-size: 14px;
}

.header .contentHeader nav .btnLogin:hover {
    transition: 0.3s;
    background-color: #d3d3d3;
}

.header .contentHeader nav .btnLoading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 18px;
    background-color: #fff;
    color: #000000cf;
    transition: 0.3s;
    cursor: pointer;
    width: 34px;
    height: 34px;
    border-radius: 8px;
    border: 1px solid #ffffff;
    padding: 4px;
    font-weight: 600;
    font-size: 18px;
}

.header .contentHeader .iconMenu {
    display: none;
    font-size: 24px;
    color: #fff;
}

@media screen and (max-width: 550px) {
    .header .contentHeader nav {
        display: none;
    }
    .header .contentHeader .iconMenu {
        display: flex;
    }
}

