.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 58px;
    background-color: #000000;
    border-top: 1px solid transparent; 
    border-image: linear-gradient(to right, rgba(211, 211, 211, 0) 0%, rgba(211, 211, 211, 0.18) 50%, rgba(211, 211, 211, 0) 100%);
    border-image-slice: 1;
}

.footer .contentFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1400px;
}

.footer .contentFooter p {
    color: rgba(215, 215, 215, 0.635);
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 0px;
}

.footer .contentFooter p a {
    color: rgba(215, 215, 215, 0.635);
}

@media screen and (max-width: 800px) {
    .footer .contentFooter {
        align-items: center;
        flex-direction: column;
    }
}