.container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    min-height: calc(100vh - 58px);
    background-color: #000000;
}

.container .contentContainer {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    max-width: 1400px;
    width: 90%;
    z-index: 1;
}

.container .contentContainer h1 {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9), rgb(255, 255, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-weight: bold;
    background-clip: text;
    color: transparent;
    margin-bottom: 15px;
    margin-top: 30px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: 100%;
}

.container .contentContainer .contentUserOwnerSnippet {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.container .contentContainer .contentUserOwnerSnippet span {
    margin-bottom: 0px;
    color: #4269e8;
    font-size: 16px;
    font-weight: 500;
    user-select: none;
}

.container .contentContainer .photoUser {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    background-color: #4269e8;
    color: #fff;
    transition: 0.3s;
    user-select: none;
    width: 34px;
    height: 34px;
    border-radius: 8px;
    border: 1px solid #4269e8;
    padding: 4px;
    font-weight: 600;
    margin-right: 10px;
    font-size: 18px;
    margin-bottom: 0px;
}

.container .contentContainer p span {
    color: #4269e8;
    font-weight: bold;
    font-size: 17px;
}

.container .contentContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.container .contentContainer form input {
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    background-color: #ffffff00;
    color: #ffffffce;
    transition: 0.3s;
    border: 1px solid #9c9c9c66;
    padding: 6px 12px;
    outline: none;
    font-size: 15px;
    border-right: 0px solid;
}

.container .contentContainer form input:focus {
    border: 1px solid #d4d4d4e3;
}

.container .contentContainer form button {
    background-color: #fff;
    color: #000000cf;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 0px 8px 8px 0px;
    border: 1px solid #ffffff;
    padding: 6px 10px;
    font-weight: 600;
    font-size: 14px;
}

.container .contentContainer form button:disabled {
    background-color: #9f9f9f;
    border: 1px solid #9f9f9f;
    cursor: not-allowed;
}

.container .contentContainer .cardComment {
    display: flex;
    align-items: start;
    padding: 0px;
    justify-content: start;
    flex-direction: row;
    width: 100%;
    margin-bottom: 18px;
    border-radius: 8px;
    transition: 0.2s;
}

.container .contentContainer .cardComment h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    background-color: #ffffff;
    color: #000000;
    transition: 0.3s;
    user-select: none;
    width: 34px;
    height: 34px;
    border-radius: 8px;
    border: 1px solid #ffffff;
    padding: 4px;
    font-weight: 600;
    margin-right: 10px;
    font-size: 18px;
    margin-bottom: 0px;
    flex-shrink: 0;
}

.container .contentContainer .cardComment .contentMessageUser {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.container .contentContainer .cardComment .contentMessageUser h3 {
    margin-bottom: 0;
    font-size: 15px;
    color: #fff;
    margin-right: 10px;
}

.container .contentContainer .cardComment .contentMessageUser p {
    font-size: 13px;
    color: #a1a1a1;
    margin-bottom: 0px;
    word-break: break-all;
}

.container .contentContainer .cardComment .contentMessageUser .userFunctionDelete {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .contentContainer .cardComment .contentMessageUser .userFunctionDelete .iconDeleteComment {
    color: #d13030f4;
    cursor: pointer;
}